/* Title "Nobel Prize Winners */

body {
  background-image: url("https://i.ibb.co/yR2bzt6/162937285533002026.png"); /* background img */
  background-color: #cccccc;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 25%;

  font-family: Arial, Helvetica, sans-serif; /* text style */
  font-size: 20px;
}

H1 {
  text-align: center;
}

/* Dates */
H2 {
  text-align: center;
}

/* Categories */
H3 {
  text-align: center;
}

/* Overall Motvation */
H4 {
  text-align: center;
}

/* Winners and ID info */
P {
  text-align: center;
}
