/* Title "Nobel Prize Winners */
H1 {
  text-align: center;
}

/* Dates */
H2 {
  text-align: center;
}

/* Categories */
H3 {
  text-align: center;
}

/* Overall Motvation */
H4 {
  text-align: center;
}

/* Winners and ID info */
P {
  text-align: center;
}
